body,html  {
  display: grid;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('https://cdn140.picsart.com/294375144006201.jpg?r1024x1024');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; 
}
.logo-principal{
  width: 26%;
  display:block;
  margin:auto;
}
.bienvenida {
  width: 70%;
  margin: 20px;
  padding: 20px;
  display:block;
  margin:auto;
  margin-top: 40px;
  background:rgba(0, 0, 0, 0.4); 
}
.cuadro-texto1{
  font-size: 18px;
  margin-top: 20px;
  margin-left: 10px;
  padding: 4px;
  border-radius: 5px;
  width: 50%;
}
label{
  font-size: 18px;
}
.comenzar{
  background:#C70039;
  color:#FFFFFF;
  width: auto;
  font-size: 18px;
}
.comenzar:hover{
  background:#FF5733;
}
.pagina1, .pagina2{
  align-self: center;
  justify-self: center;
  text-align: center;
  color: #FFFFFF;
  font-family:'Ubuntu', sans-serif;
  font-size: 20px;
  width: 100%;
}
span.saludo {
  color:#D93B84;
  font-size: 20px;
}
.tablaOpciones{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 85% 15%;
  width: 90%;
  padding: 40px 10px;
  margin: auto;
  width: 90%;
}
.logoTerror{
  grid-column-start: 1;
  grid-row-start: 1;
  width: 75%;
}
.logoInfantil{
  grid-column-start: 2;
  grid-row-start: 1;
  width: 77%;
}
.logoRomanticas{
  grid-column-start: 3;
  grid-row-start: 1;
  width: 80%;
}
button{
  border-radius: 5px;
  border:none;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  cursor:pointer;
}
.botonTerror, .botonInfantil, .botonRomanticas{
  border-radius: 5px;
  border:none;
  padding: 6px;
  font-size: 18px;
  cursor:pointer;
  text-decoration: none;
}
.botonTerror{
  background: #0BAD92;
  color: #000000;
  grid-column-start: 1;
  grid-row-start: 2;
}
.botonInfantil{
  background: #D93B84;
  color: #FFFFFF;
  grid-column-start: 2;
  grid-row-start: 2;
}
.botonRomanticas {
  background: #F5A9A7;
  color: #000000;
  grid-column-start: 3;
  grid-row-start: 2;
}
.botonTerror:hover, .botonInfantil:hover, .botonRomanticas:hover{
  background: #FFFFFF;
  color: #000000;
}
.triviasContainer{
  width: 80%;
  height: 80%;
  margin: 20px;
  padding: 20px;
  background:rgba(0, 0, 0, 0.4);
  display:block;
  margin:auto;
  color: #FFFFFF;
  font-family:'Ubuntu', sans-serif;
  font-size: 20px;
  text-align: center;
}
.opcionA,.opcionB{
  width: 50%;
  display: block;
  margin:auto;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 5px;
  text-align: left;
  font-family:'Ubuntu', sans-serif;
  color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #ffffff;
}
.opcionA:hover{
  background: #0BAD92;
  color: #000000;
}
.opcionB:hover{
  background: #D93B84;
  color: #FFFFFF;
}
.cronometro{
  color: #FFF;
  text-align: center;
  font-size: 40px;
}
.sig-boton,.fin-boton,.inicio-boton{
  display: block;
  margin: auto;
  margin-top: 20px;
}
.sig-boton:hover{
  background: #F2C4B3;
}
.fin-boton:hover{
  background: #F2C4B3;
}   
hr{
  margin-top: 200px;
  margin-bottom: 50px;
  border: 0.5px solid #000000;
}
.resultados-container{
  text-align: center;
  font-family:'Ubuntu', sans-serif;
  color: #FFFFFF;
  font-size: 20px;
}